<!DOCTYPE html>
<html>
  <head>
    <title>HarveySOS</title>
    <meta name="description" content="">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        HarveySOS
      </h1>
    </header>

    <main>
      <ul>

      </ul>
      <p>
        This project is a start to try to coordinate relief efforts and coordination for the Houston area after hurricane Harvey.
      </p>

      <ul>
        <li><a href="/rescues/new">Add a rescue</a></li>
        <li><a href="/rescues/json">List of rescues in JSON</a></li>
        <li><a href="/rescues">Searchable Rescues</a></li>
        <li><a href="/rescues.csv">rescues.csv -- Bulk Import document</a></li>
        <li><a href="/sync">Sync sample data</a></li>
        <li><a href="/purge">Purge database (for demo only)</a></li>

      </ul>
    </main>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
