<!DOCTYPE html>
<html>
  <head>
    <title>HarveySOS</title>
    <meta name="description" content="">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <h1>
        HarveySOS
      </h1>
    </header>

    <main>
      <div id="search">
        <div class="search-bar">
          <form data-action="search">
            <input type="text" placeholder="12345 Main St" name="search_query" id="search_query"/>
            <button type="submit">Search</button>
          </form>
        </div>
        <div class="loading">
          <i class="fa fa-refresh fa-spin"></i>
        </div>
      </div>
      <div id="search_results">
        <table>
          <thead>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <div id="none_found">
        No results found
      </div>
    </main>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="/fuse-3.0.5.min.js"></script>
    <script src="/client.js"></script>

    <script type="text/javascript">
      $(function() {
        Rescues.index();
      });
    </script>
  </body>
</html>
